<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1>Join the secret club</h1>
    <% if(locals.currentUser) {%>
        <h4>Hello <%= locals.currentUser.username %>, dont wait any longer and join the secret club. Enter the secret code below!</h4>
        <form action="" method="POST">
            <label for="secretcode">Secret Code:</label>
            <input type="text" name="secretcode" id="secretcode" placeholder="Secret Code">
            <button>Submit</button>
            <% if(error) {%>
                <p>Wrong Code</p>    
            <%}%>
        </form>
    <%} else {%>
        <h3>Please log-in first!</h3>
        <a href="/log-in">Log-in</a>
    <%} %>

</body>
</html>