.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.formDiv {
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #10b981;
    border-radius: 20px;
}
.formDiv h4 {
    font-size: 22px;
    font-weight: 400;
    max-width: 500px;
    line-height: 1.4em;
}
.formDiv .userName {
    color:  #10b981;
}
.formDiv form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}
form input {
    max-width: 250px;
}
form button {
    padding: 10px;
    font-size: 24px;
    background-color: #10b981;
    border: 0;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    transition: color .1s, background-color .1s;
    transition-timing-function: linear;
}
form button:hover {
    cursor: pointer;
    background-color: white;
    color: #10b981;
}
form .errorMsg {
    color: red;
    font-weight: 500;
    font-size: 12px;
    transition-delay: 1s;
}
